data/saves/characters/*
*.xml
*.iml

*.class
data/saves/logs/*
data/saves/clans/*
patching/*
/patching/
bin/*
/bin/
data/def/txt/items - Copy.txt
data/saves/farming/Crimson.txt
data/saves/Bans.txt
data/saves/clans/Necrotic.json
data/saves/starters.txt
